/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.home {
  background-color: bisque;
}

.background-app {
  /*background-color: #ffeece; */
  background: linear-gradient(45deg, bisque 25%, transparent 25%), linear-gradient(315deg, bisque 25%, transparent 25%),linear-gradient(45deg, transparent 24%,#157347 25%, #157347 45%, transparent 45%), linear-gradient(315deg, transparent 24%,#157347 25%, #157347 45%, transparent 45%);
        background-size: 12em 12em;
        background-color: bisque;
        opacity: 1
}

.italic-placeholder::placeholder {
  font-style: italic;
}

.title {
  font-size: 6em;
  font-weight: bold;
  color: #000000;
  text-shadow: #157347 2px 5px;
}

.subtitle {
  font-size: 1.5em;
  color: #000000;
  font-weight: bold;
  text-shadow: 1px 1px 2px #a8b7a8;
  }

  .button {
    color: #074b80;
  }
